@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap')

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #855DCD; /* Set this to the specific black you're using */
    padding: 0;
    margin: 0;
  }

  @font-face {
    font-family: 'Mona Sans';
    src: url('/fonts/MonaSansCondensed-Black.woff2') format('woff2');
         
    font-weight: normal;
    font-style: normal;
  }